* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    height: 64px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 18px 36px;
    font-size: 20px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
}
section {
    margin-top: 130px;
}

/* Header - Nav */
header {
    background: #FFF8F3;
    margin-top: 0px;
    background-image: url('./images/developer.png'), url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: center left 25px, bottom right;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

/* Header - Banner */
.banner-header {
    display: flex;
    align-items: center;
}
.banner-header .banner-left-side {
    margin-left: 200px;
}
.banner-header .banner-tag {
    color: #474747;
    font-weight: 600;
    font-size: 45px;
}
.banner-header .banner-title {
    color: #181818;
    font-weight: 700;
    font-size: 85px;
}
.banner-header .banner-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0px;
}
.banner-header button {
    margin-right: 30px;
}
.banner-header .banner-rigth-side {
    height: 676px;
}

/* Main Section */
main, .contact-section-container {
    max-width: 1140px;
    margin: 0 auto;
}

/* About Me */
.about-me {
    padding: 130px 156px;
    background: #FFF8F3;
    text-align: center;
    border-radius: 10px;
}
.section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
}
.section-description {
    margin: 30px 0px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}

/* About Info container */
.about-info-container {
    display: flex;
    justify-content: space-between;
}
.about-info {
    color: #757575;
}
.about-info .info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* What I Do  */
.what-i-do-description {
    max-width: 909px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin: 0 auto;
    margin-top: 30px;
}
.skills-container{
    display: flex;
    gap: 30px;
    margin: 50px 0px;
}
.skills {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 27px;
    text-align: center;
}
.skills-image {
    margin: 30px 0px;
}
.skills-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 30px;
}
.skills-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    text-align: justify;
}

/* Resume Section */
.resume-container {
    margin-top: 110px;
    display: flex;
}
.resume-header {
    margin-bottom: 30px;
}
.resume-single-items {
} 
.resume-single-items h2{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
} 
.resume-single-items h3{
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
} 
.resume-single-items p{
    color: #757575;
    font-weight: 400;
    font-size: 16px;
} 
hr {
    color: #D1D1D1;
    margin: 30px 0px;
    margin-right: 15px;
}
.download-cv {
    text-align: center;
    margin: 50px 0px;
}

/* Contact Section */
.contact-section {
    background: #FFF8F3;
    padding: 130px 0px;
}
.contact-section-container {
    display: flex;
    gap: 117px;
}
.contact-section-container .section-title {
    margin-bottom: 28px;
}
.icon-group {
    margin-top: 30px;
}
.icon-group img {
    margin-right: 24px;
}
.contact-section-container form {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
}
.contact-section-container form input{
    height: 64px;
    width: 100%;
    margin-bottom: 24px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    padding: 12px 30px;
}
.contact-section-container form textarea {
    width: 100%;
    padding: 18px 30px;
    border: 0;
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 24px;
}
